*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../assets/fundo1.jpg");
    background-position-y: bottom; /*deixa o background na metade*/
    background-repeat: no-repeat;
    height: 500px; /* Usa 100% da altura da tela */
    width: 100%; /* Garante que ocupe toda a largura */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza os itens de forma vertical */
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: rgb(255, 254, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(156, 42, 213);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center; /* Justifica o texto para melhor leitura */
}